.Header-wrapper {
    display: flex;
    justify-content: space-around;
}

.Header-wrapper nav {
    min-width: 320px;
}

.Header-wrapper ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.Header-wrapper li {
    padding: 10px 20px;
    
    font-family: Roboto;

    /* text-decoration: none; */
    /* textDecoration: none; */
}

.Header-wrapper li > .active {
    border-bottom: 1px solid #833AE0;
}

.Header-image-wrapper {
    min-width: 150px ;
    padding-top: 25px;
}


