.eachStock-row {
    display: flex;
    flex-direction: row;
    align-items : center;
    width: 1000px;
    margin-left: 20%;
    height: 150px;
    border-bottom: 1px dashed grey;
   
    
}

.eachStock-row:hover {
    display: flex;
    flex-direction: row;
    align-items : center;
    width: 1000px;
    margin-left: 25%;
    height: 150px;
    border-bottom: 1px dotted grey;
    background-color: rgba(130, 58, 224, 0.05);
    cursor: pointer;
}


.eachStock-row-symbol{
    color:rgba(8, 8, 8, 0.500);
    font-size: 12px;
    align-self: center;
    margin-left: 10px;
    margin-right: 15px;
    width: 50px;
    text-align: center;
}

.eachStock-row-name{
  color:black;
  font-size: 1.7vw;
  margin-left: 10px;
  align-items: flex-start;
  width: 650px;
 
}


.eachStock-row-name div{
    color:black;
    margin-left: 30px;
    text-align: left;
  }


.eachStock-row-price {
    color:black;
    font-size:65px;
    margin-left: auto;
    width: 120px;
    text-align: end;
}

.eachStock-row-price-decimal {
    color:black;
    font-size: 35px;
    margin-right: 15px;
    text-align: start;
    margin-top: 25px;
    
}

