.stock{
    position: relative;
    top:124px;
    width: 100%;
    background: white;
    padding-bottom: 130px;
}
.stock-input{
    width: 360px;
    height: 60px;
    border-radius: 94px;
    padding: 15px 20px;
    font-style: normal;
    font-weight: normal;
    background-color: #F3F3F3;
    margin: 0 auto;
    margin-top:33px;
    box-sizing: border-box;
    display: flex;
}
.stock-input input{
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #F3F3F3;
    font-size: 25px;
    line-height: 24px;
    font-size: 25px;
    line-height: 24px;
    margin-left: 11px;
    width: 90%;
}

.btn-group{
    width: 360px;
    margin-left: 40%;
    text-align: center;
    transform:translateX(-10%) ;
}
.btn-group button{
    border: none;
    background-color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 22px;
}

.btn-group button{
    border: none;
    background-color:#ffffff;
}

.purple{
    color: purple;
    font-weight: bold;
}

.list {
    display: flex;
    justify-content: center;
}

