.stock{
    position: relative;
    /* top:64px; */
    width: 100%;
    background: white;
    padding-bottom: 80px;
}

.stock-header {
    height: 150px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    padding-top: 15px;
}

.stock-input{
    width: 360px;
    height: 60px;
    border-radius: 94px;
    padding: 15px 20px;
    font-style: normal;
    font-weight: normal;
    background-color: #F3F3F3;
    margin: 0 auto;
    margin-top:33px;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 33px;
}
.stock-input input{
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #F3F3F3;
    font-size: 25px;
    line-height: 24px;
    font-size: 25px;
    line-height: 24px;
    margin-left: 11px;
    width: 80%;
    outline: 0;
}

.stock-input img {
    width: 22px;
    height: 22px;
    display: flex;
    margin-top: 1%;
    margin-left:20px;
}

.btn-group{
    width: 360px;
    margin-left: 40%;
    text-align: center;
    transform:translateX(-10%) ;
}
.btn-group button{
    border: none;
    background-color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 22px;
}

.btn-group button{
    border: none;
    background-color:#ffffff;
}

.purple{
    color: purple;
    font-weight: bold;
}

.list {
    margin-top: 33px;
    display: flex;
    justify-content: center;
}

ul a{
    text-decoration: none !important;
}

.is-active li {
    font-weight: 900 !important;
    border-bottom: 3px solid #833ae0 !important;
}

.loading{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin-top: 35px;
}


.not-found {
    display: flex;
    justify-content:center ;
}