.Account-header {
    height: 120px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.Account-header-center {
    display: flex;
    justify-content: center;
}

.Account-content {
    min-width: 760px;
    display: flex;
    justify-content: center;
}