.EachAccountData {
    display: flex;
    justify-content: space-around;
    
}

.EachAccountData-price-decimal {
    font-size: 17px;
}

.EachAccountData-price {
    font-size: 30px;
}

/* .EachAccountData  div:first-child, div:nth-child(3){
    font-size: 12px;
}

.EachAccountData  div:nth-child(2),div:nth-child(4){
    font-size: 22px;
}

.EachAccountData  div:nth-child(5){
    font-size: 18px;
} */
