.EachAccountData {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    padding: 15px;
    width: 760px;
    margin: 0 auto;
    border-bottom: 1px dashed #E0E0E0
}

.EachAccountData:hover {
    background: rgba(131, 58, 224, 0.05);
}

.EachAccountData-Company-Code {
    font-size: 10px;
    width: 70px;
    color: rgba(0, 0, 0, 0.5);
}

.EachAccountData-Company-Fullname {
    font-size: 24px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    mask-image: linear-gradient(to right,#000 85%,rgba(0,0,0,0) 100%);
    -webkit-mask-image: -webkit-linear-gradient(to right,#000 85%,rgba(0,0,0,0) 100%); 
    -o-mask-image: linear-gradient(to right,#000 85%,rgba(0,0,0,0) 100%);
    -moz-mask-image: linear-gradient(to right,#000 85%,rgba(0,0,0,0) 100%);
}

.EachAccountData-stock-quantity {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.EachAccountData-price-integer {
    font-size: 25px;
    color: #000000;
    text-align: center;
}

.EachAccountData-price-decimal {
    font-size: 17px;
    color: #000000;
    text-align: center;
}

.EachAccountData-Company-Code, .EachAccountData-Company-Fullname, .EachAccountData-stock-quantity, .EachAccountData-price-difference, .EachAccountData-price-variable  {
    width: 150px;
    text-align: center;
    vertical-align: middle;
}