.Balance-footer {
    background-color: #833AE0;
    color: #FFDC40;
    height: 70px;
    display: flex;
    font-weight: bolder;
}

.Balance-footer div:first-child {
    margin-top: auto;
    margin-bottom: auto;
    width: 7%;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}

.Balance-footer div:last-child {
    /* margin: 0 auto; */
    /* margin-left: 35%; */
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}

.balance-box {
    width: 90%;
    margin: 0px;
}

.box2 {
    margin: 0 auto;
}


.Balance {
    position: fixed;
    margin-bottom: 0px;
    bottom: 0;
    width: 100%;
}

.Balance-integer-part {
    font-size: 25px;
}

.Balance-decimal-part {
    font-size: 15px;
    font-style: Roboto;
}

